/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 10 version
*/

:root {
  --theme-color: rgb(149, 225, 211);
  --decor-color: rgb(243, 129, 129);
  --light-bg: rgb(252, 227, 138);
  --overlay-bg: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
  --primary-txt: rgb(153, 153, 153);
  --title-txt: rgb(51, 51, 51);
  --main-ff: 'Roboto', sans-serif;
  --secondary-ff: 'Montserrat', sans-serif;
  --decor-ff: 'Kaushan Script', cursive;
  --common-txt-size: 15px;
  --h2-size: 30px;
  --h3-size: 14px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--main-ff);
  color: var(--primary-txt);
  font-size: var(--common-txt-size);
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* Header */

.header {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  font-family: var(--secondary-ff);
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.logotype {
  display: block;
  color: #ffffff;
  font-size: var(--h2-size);
  font-weight: 700;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.logotype:hover,
.logotype:focus {
  color: var(--light-bg);
}
.navigation__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__menu-item {
  /* :not(:last-child) */
  margin-right: 55px;
}

.navigation__menu-link {
  position: relative;
  display: block;
  text-transform: uppercase;
  color: #ffffff;
  font-size: var(--h3-size);
  font-weight: 700;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.navigation__menu-link::after {
  content: '';
  position: absolute;
  top: 25px;
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--light-bg);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.navigation__menu-link:hover::after,
.navigation__menu-link:focus::after {
  opacity: 1;
  visibility: visible;
}

.navigation__menu-link:hover,
.navigation__menu-link:focus {
  color: var(--light-bg);
}
.navigation__tools-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation-tool:first-child {
  margin-right: 40px;
}

.navigation-tool-link {
  display: block;
}
.navigation-tool-btn {
  border-style: none;
  background-color: transparent;
  cursor: pointer;
}
.tool-icon {
  width: 18px;
  fill: #ffffff;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.tool-icon_cart {
  height: 25px;
}
.tool-icon_search {
  height: 18px;
}
.navigation-tool:hover .tool-icon,
.navigation-tool:focus .tool-icon {
  fill: var(--light-bg);
}
/* Main */

.hero {
  padding: 240px 0 230px;
  /* if height:100vh, then padding in %*/
  text-align: center;
  color: #ffffff;
  background-image: var(--overlay-bg), url('../img/eagle.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  .hero {
    background-image: var(--overlay-bg), url('../img/eagle@2x.jpg');
  }
}
.title-decor {
  margin-bottom: 18px;
  display: block;
  text-transform: none;
  font-family: var(--decor-ff);
  font-size: 24px;
  font-weight: 400;
}

.hero__title {
  text-transform: uppercase;
  font-family: var(--secondary-ff);
  font-size: 150px;
  line-height: 1;
  font-weight: 700;
}

.hero__title .title-decor {
  font-size: 72px;
  margin-bottom: 68px;
}

.lear-more-link {
  display: inline-block;
  height: 38px;
  line-height: 34px;
  padding: 0 30px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(255, 255, 255);
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.lear-more-link:hover,
.lear-more-link:focus {
  border-color: var(--decor-color);
  color: var(--decor-color);
}
.sections {
  padding-top: 80px;
  padding-bottom: 15px;
}

.sections__header {
  text-align: center;
  margin-bottom: 45px;
}

.sections__header-title {
  margin-top: 0;
  text-transform: uppercase;
  color: var(--title-txt);
  font-family: var(--secondary-ff);
  font-size: var(--h2-size);
  font-weight: 700;
}

.sections__header-title::after {
  content: '';
  display: block;
  margin: 40px auto 0;
  width: 60px;
  height: 3px;
  background-color: var(--decor-color);
}

.wrap-text {
  display: block;
}

.services__item-title,
.team__item-title {
  margin-top: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: var(--title-txt);
  font-family: var(--secondary-ff);
  font-size: var(--h3-size);
  font-weight: 400;
}

.sections__header-description {
  padding: 45px 125px 50px;
  line-height: 24px;
}

/* Our services */

.services__list {
  padding: 20px 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__item {
  -ms-flex-preferred-size: 370px;
      flex-basis: 370px;
}
.services__item-icon {
  padding-left: 80px;
  background-repeat: no-repeat;
  background-position-x: 20px;
}
.services__item-icon_alarm {
  background-image: url('../img/icons/alarm.svg');
}

.services__item-icon_graph {
  background-image: url('../img/icons/graph.svg');
}

.services__item-icon_monitor {
  background-image: url('../img/icons/monitor.svg');
}

.services__item-icon_book {
  background-image: url('../img/icons/book.svg');
}

.services__item-icon_home {
  background-image: url('../img/icons/home.svg');
}

.services__item-icon_digital {
  background-image: url('../img/icons/digital.svg');
}

.services__item:nth-child(-n + 3) {
  margin-bottom: 100px;
}

.services__item-description {
  line-height: 24px;
}

/* Our team */

.team {
  padding-bottom: 80px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team__item {
  width: 380px;
}

.team__item-image-wrapper {
  position: relative;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  margin-bottom: 30px;
}

.team__item-image-wrapper:hover,
.team__item-image-wrapper:focus {
  -webkit-transform: translate(-10px, -10px);
      -ms-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
  -webkit-box-shadow: 10px 10px 0 0 var(--theme-color);
          box-shadow: 10px 10px 0 0 var(--theme-color);
}

.team__item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: var(--overlay-bg);
  opacity: 0;
  visibility: hidden;
}

.team__item-image-wrapper:hover .team__item-overlay,
.team__item-image-wrapper:focus .team__item-overlay {
  opacity: 1;
  visibility: visible;
}

.team__item-data {
  text-align: center;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 56px;
  height: 56px;
  background-color: var(--light-bg);
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.social-item:not(:last-child) .social-link {
  border-right: 1px solid var(--decor-color);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--decor-color);
}
.social-icon {
  fill: var(--decor-color);
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #ffffff;
}
.social-icon_facebook {
  width: 13px;
  height: 26px;
}
.social-icon_twitter {
  width: 26px;
  height: 21px;
}
.social-icon_pinterest {
  width: 20px;
  height: 26px;
}
.social-icon_instagram {
  width: 26px;
  height: 26px;
}

.team__item-position {
  font-style: italic;
  line-height: 24px;
}

/* Footer */

.footer {
  padding-top: 10px;
  padding-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid rgb(229, 229, 229);
}

.footer__copyright {
  font-family: var(--secondary-ff);
  font-size: var(--h3-size);
  color: var(--title-txt);
}

.copyright-author {
  color: var(--decor-color);
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.copyright-author:hover,
.copyright-author:focus {
  text-decoration: underline;
  color: var(--theme-color);
}

.form-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
}

.email {
  padding: 0 12px;
  width: 230px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(231, 231, 231);
  line-height: 24px;
}

.email::-webkit-input-placeholder {
  color: rgb(204, 204, 204);
  font-style: italic;
  font-weight: 300;
}

.email::-moz-placeholder {
  color: rgb(204, 204, 204);
  font-style: italic;
  font-weight: 300;
}

.email:-ms-input-placeholder {
  color: rgb(204, 204, 204);
  font-style: italic;
  font-weight: 300;
}

.email::-ms-input-placeholder {
  color: rgb(204, 204, 204);
  font-style: italic;
  font-weight: 300;
}

.email::placeholder {
  color: rgb(204, 204, 204);
  font-style: italic;
  font-weight: 300;
}

.btn {
  padding: 0 33px;
  border-width: 0;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-family: var(--secondary-ff);
  font-size: var(--h3-size);
  font-weight: 700;
  background-color: var(--theme-color);
  cursor: pointer;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.btn:hover,
.btn:focus {
  background-color: var(--decor-color);
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}